:root {
    --trap7-width: 100%; 
    --trap7-height: 30px; 
    --trap6-width: 100%; 
    --trap6-height: 75px; 
    --trap5-width: 100%;
    --trap5-height: 75px; 
    --trap4-height: 75px;
    --trap4-width: 100%;  
    --trap3-width: 100%; 
    --trap3-height: 75px; 
    --trap2-height: 75px;
    --trap2-width: 100%;  
    --trap1-height: 75px;
    --trap1-width: 100%;       
}

body {
    font: 12px/24px Arial, sans-serif;
}
.foodpyramid-container {
    z-index: 13;
    position: relative;
    clip-path: polygon(50% 0, 80% 100%, 20% 100%);
    text-align: center;
  }

.button {
    border-color: black;
    background-color: grey;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%;
    visibility: hidden;
}

.button:before,
.button:after {
    content: '\200B';
    display: inline-block;
    line-height: 0px;
    padding-top: 50%;
    padding-bottom: 50%;
    padding-left: 0.35em;
}

.button:hover:not([disabled]){
    background-color: rgb(224, 224, 157); /* Green */
    color: white;
  }

  .button:active:not([disabled]){
    background-color: rgb(178, 196, 85); /* Green */
    color: white;
  }
  .button:disabled {
    pointer-events: none; 
    opacity: 0.6;
  }
  .circle {
    border-color: black;
    background-color: orange;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    border-radius: 50%;
    
}
  .circle:before,
  .circle:after {
      content: '\200B';
      display: inline-block;
      line-height: 0px;
      padding-top: 50%;
      padding-bottom: 50%;
      padding-left: 0.35em;
  }
  
  
.trapezium7 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    width: var(--trap7-width);
    height: var(--trap7-height);
    position: relative;
}

.trapezium6 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    width: var(--trap6-width);
    height: var(--trap6-height);
    position: relative;
}

.trapezium5 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffcc00;
    width: var(--trap5-width);
    height: var(--trap5-height);
    position: relative;
    margin: auto ;
}

.trapezium4 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
    width: var(--trap4-width);
    height: var(--trap4-height);
    position: relative;
    margin: auto ;
}

.trapezium3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0099ff;
    width: var(--trap3-width);
    height: var(--trap3-height);
    position: relative;
    margin: auto ;
}

.trapezium2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #996633;
    width: var(--trap2-width);
    height: var(--trap2-height);
    position: relative;
    margin: auto ;
}

.trapezium1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #99ff66;
    width: var(--trap1-width);
    height: var(--trap1-height);
    position: relative;
    margin: auto ;
}

.trapezium1:hover .button{ 
	visibility: visible;
}

.trapezium2:hover .button{ 
	visibility: visible;
}

.trapezium3:hover .button{ 
	visibility: visible;
}

.trapezium4:hover .button{ 
	visibility: visible;
}

.trapezium5:hover .button{ 
	visibility: visible;
}

.trapezium6:hover .button{ 
	visibility: visible;
}


.guideO {
    border:2px solid black;
        height: 5px;
        /* border-radius 50% will make it fully rounded. */
        border-radius: 50%;
        -moz-border-radius:50%;
        -webkit-border-radius: 50%;
        width: 5px;
    background-color: orange;
    padding: 10px;
    display: inline-block;
    margin: 4px 2px;
    border-radius: 50%;
}


.center {
    display: flex;
    justify-content: center;
}


.mAdult{
    opacity: .2;
    font: 10px
  }

  .mAdultChild{
    opacity: .2;
    font: 10px
  }


  .mChilder{
    opacity:1;
    font: 10px
  }
  .fixedHeightContainer {
    display: flex;
    justify-content: center;
    height: 300px;
    width: 80%;
    padding: 2px;
    border: black;
    margin: 1px;
    padding: 20px;
    border: 2px solid black;
    
}

.table {
    display: flex;
    justify-content: center;
    padding: 10px;
    border: black;
    background: white;
    margin: 2px;
    border: 2px solid black;
    
}



.guide6 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    position: relative;
    height: 14px;
    width: 150px;
}

.guide5 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffcc00;
    position: relative;
    margin: auto auto;
    height: 14px;
    width: 150px;
}

.guide4 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
    position: relative;
    margin: auto auto;
    height: 14px;
    width: 150px;
}

.guide3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0099ff;
    position: relative;
    margin: auto auto;
    height: 14px;
    width: 150px;
}

.guide2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #996633;
    position: relative;
    margin: auto auto;
    height: 14px;
    width: 150px;
}

.guide1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #99ff66;
    position: relative;
    margin: auto auto;
    height: 14px;
    width: 150px;
}